@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .button-contain {
      display: none !important;
    }

    &.scrolled {
      .navbar-nav {
        height: calc(100vh - 70px);
        top: 70px;
      }
    }

    .navbar-nav {
      width: 100% !important;
      height: calc(100vh - 90px);
      position: absolute;
      top: 90px;
      right: -100%;
      z-index: 999;
      background-color: var(--light-color);
      flex-direction: column !important;
      justify-content: flex-start !important;
      padding: 20px 15px;
      transition: all .3s linear;
      
      li {
        margin: 0px 0px 20px 0px !important;

        a:hover {
          &::after {
            width: 100px !important;
          }
        }
      }

      &.active-nav {
        right: 0px !important;
      }
    }
  }

  header {
    background-position: top right !important;
    padding: 50px 0px;

    .image-content {
      height: 250px !important;

      img {
        object-position: center;
      }
    }
  }

  .data-contain {
    padding-inline-end: 0px !important;
  }

  .services .box {
    img {
      height: 100px !important;
    }

    h2 {
      font-size: 15px !important;
    }
  }

  .statistcs {
    background-position: center !important;

    .box {
      p {
        font-size: 14px !important;
      }

      h2 {
        margin: 15px 0px !important;
      }
    }
  }

  .contact-us {
    padding: 50px 0px;

    .image-content img {
      height: 250px !important;
    }
  }

  .copyrights p {
    font-size: 13px !important;
  }
}