@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "ExpoArabic", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #F2CA2F;
  color: #fff;
}
*::selection {
  background-color: #F2CA2F;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #F2CA2F;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #F2CA2F;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #F2CA2F;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #F2CA2F;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --primary-color: #fbb601;
  --secondary-color: #2f3d43;
  --dark-color: #000;
  --light-color: #fff;
}

.custom-btn {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 9;
  overflow: hidden;
  outline: 1px solid;
}
.custom-btn span {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 700;
}
.custom-btn::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  transform: skewX(45deg) scaleX(1);
  top: -50%;
  left: -50%;
  z-index: -1;
  transition: all 0.3s linear;
}
.custom-btn.primary-btn {
  outline-color: var(--primary-color);
}
.custom-btn.primary-btn:hover span {
  color: var(--primary-color);
}
.custom-btn.primary-btn::after {
  background-color: var(--primary-color);
}
.custom-btn.secondary-btn {
  outline-color: var(--secondary-color);
}
.custom-btn.secondary-btn:hover span {
  color: var(--secondary-color);
}
.custom-btn.secondary-btn::after {
  background-color: var(--secondary-color);
}
.custom-btn:hover::after {
  transform: skewX(45deg) scaleX(0) !important;
}

.navbar {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--light-color) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.navbar.scrolled {
  box-shadow: 0px 0px 10px rgba(251, 182, 1, 0.2);
}
.navbar.scrolled .brand-name img {
  height: 50px !important;
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .hamburger {
  display: none;
}
.navbar .contain .hamburger .line {
  width: 30px;
  height: 3px;
  background: linear-gradient(90deg, #fbb601, #2f3d43);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .contain .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .contain .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .contain .hamburger.active .line:nth-child(1), .navbar .contain .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .contain .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .contain .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .contain .brand-name img {
  width: 120px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s linear;
}
.navbar .contain .navbar-nav {
  flex-direction: row;
}
.navbar .contain .navbar-nav .nav-item {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.navbar .contain .navbar-nav .nav-item:last-child {
  -webkit-margin-end: 0px !important;
          margin-inline-end: 0px !important;
}
.navbar .contain .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-color);
}
.navbar .contain .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
}
.navbar .contain .button-contain {
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar .contain .button-contain .custom-btn.secondary-btn {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

header {
  width: 100%;
  padding: 200px 0px 100px;
  background: url("../images/intro/header.png") center/cover no-repeat;
}
header .contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .contain h1 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 900;
  margin: 0px;
}
header .contain p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px;
}
header .image-content {
  width: 100%;
  height: 400px;
}
header .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: translateY 1s linear infinite;
          animation: translateY 1s linear infinite;
}
header .box {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--light-color);
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(251, 182, 1, 0.2);
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
header .box img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .box h2 {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 0px;
}
header .box:hover {
  transform: translateY(-10px);
}
header .box:hover h2 {
  color: var(--primary-color);
}

.data-contain {
  width: 100%;
  -webkit-padding-end: 100px;
          padding-inline-end: 100px;
  background: url("../images/vector.png") top left/20% no-repeat;
}

.services {
  width: 100%;
  padding: 50px 0px;
}
.services .heading h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 25px;
}
.services .box {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--light-color);
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(251, 182, 1, 0.2);
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.services .box img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .box h2 {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 0px;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover h2 {
  color: var(--primary-color);
}
.services.partners .box img {
  height: 100px !important;
}

.statistcs {
  width: 100%;
  padding: 70px 0px;
  background: url("../images/statitics.png") top left/cover no-repeat;
}
.statistcs .heading h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--light-color);
  margin-bottom: 25px;
}
.statistcs .box {
  width: 100%;
  padding: 20px 15px;
  background-color: var(--dark-color);
  outline: 1px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-content: center;
  text-align: center;
  transition: all 0.3s linear;
}
.statistcs .box i {
  font-size: 30px;
  color: var(--primary-color);
}
.statistcs .box h2 {
  color: var(--light-color);
  font-size: 40px;
  font-weight: 900;
  margin: 20px 0px;
}
.statistcs .box p {
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.statistcs .box:hover {
  transform: translateY(-10px);
}

.offers {
  width: 100%;
  padding: 100px 0px 70px;
  background: url("../images/offers.jpg") center/cover no-repeat;
}
.offers .heading h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--light-color);
  margin-bottom: 25px;
}
.offers .box {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--light-color);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(251, 182, 1, 0.05);
  transition: all 0.3s linear;
}
.offers .box .flex-data {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.offers .box .flex-data h2 {
  color: var(--dark-color);
  font-size: 25px;
  font-weight: 900;
  margin: 0px;
}
.offers .box .flex-data .price {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.offers .box .flex-data .price span {
  font-size: 20px;
  font-weight: 900;
  color: var(--secondary-color);
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.offers .box .desc {
  font-size: 15px;
  font-weight: 500;
  color: #808080;
  text-align: center;
  margin: 20px 0px;
}
.offers .box .list {
  width: 100%;
}
.offers .box .list li {
  width: 100%;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  position: relative;
  z-index: 9;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.offers .box .list li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/check.png") center/contain no-repeat;
  top: calc(50% - 10px);
  right: 0px;
  z-index: -1;
}
.offers .box .list li.dash {
  text-decoration: line-through;
}
.offers .box .list li.dash::after {
  background: url("../images/close.png") center/contain no-repeat;
}
.offers .box .custom-btn {
  width: 100% !important;
}
.offers .box:hover {
  transform: translateY(-10px);
}

.question {
  width: 100%;
  padding: 70px 0px;
}
.question .heading h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 25px;
}
.question .card-header {
  width: 100%;
  background-color: #f9f9f9;
}
.question .card-header h2 {
  width: 100%;
}
.question .card-header h2 .btn {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 900;
}
.question .card-header h2 .btn:hover {
  text-decoration: none !important;
}
.question .card-body {
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--primary-color) !important;
}
.question .card-body p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.question .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question .content .brand-name img {
  width: 100px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.question .content h1 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 900;
  margin: 20px 0px;
}
.question .content p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-us {
  width: 100%;
  padding: 100px 0px 60px;
  background: url("../images/footer.jpg") center/cover no-repeat;
}
.contact-us .image-content img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: translateY 1s linear infinite;
          animation: translateY 1s linear infinite;
}
.contact-us .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  transition: all 0.3s linear;
}
.contact-us .box h1 {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}
.contact-us .box p {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.contact-us .box:hover {
  transform: translateY(-10px);
}
.contact-us .heading h1 {
  font-size: 25px;
  font-weight: 900;
  color: var(--light-color);
  margin: 25px 0px;
}
.contact-us .from-contain {
  width: 100%;
  position: relative;
}
.contact-us .from-contain .form-group {
  width: 100%;
  height: 50px;
}
.contact-us .from-contain .form-group .form-control {
  width: 100%;
  height: 100%;
  background-color: #333;
  border: 1px solid rgba(251, 182, 1, 0.05);
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
}
.contact-us .from-contain .form-group .form-control::-moz-placeholder {
  color: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
}
.contact-us .from-contain .form-group .form-control:-ms-input-placeholder {
  color: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
}
.contact-us .from-contain .form-group .form-control::placeholder {
  color: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
}
.contact-us .from-contain .form-group .form-control:hover {
  border-color: rgba(251, 182, 1, 0.2);
}
.contact-us .from-contain .form-group.textarea {
  height: 100px !important;
}
.contact-us .from-contain .form-group.textarea .form-control {
  padding: 10px 10px;
  resize: none;
}
.contact-us .custom-btn {
  width: 100%;
  margin-top: 15px;
}

.copyrights {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--primary-color);
  text-align: center;
}
.copyrights p {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .button-contain {
    display: none !important;
  }
  .navbar.scrolled .navbar-nav {
    height: calc(100vh - 70px);
    top: 70px;
  }
  .navbar .navbar-nav {
    width: 100% !important;
    height: calc(100vh - 90px);
    position: absolute;
    top: 90px;
    right: -100%;
    z-index: 999;
    background-color: var(--light-color);
    flex-direction: column !important;
    justify-content: flex-start !important;
    padding: 20px 15px;
    transition: all 0.3s linear;
  }
  .navbar .navbar-nav li {
    margin: 0px 0px 20px 0px !important;
  }
  .navbar .navbar-nav li a:hover::after {
    width: 100px !important;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px !important;
  }
  header {
    background-position: top right !important;
    padding: 100px 0px 50px;
  }
  header .image-content {
    height: 250px !important;
  }
  header .image-content img {
    -o-object-position: center;
       object-position: center;
  }
  .data-contain {
    -webkit-padding-end: 0px !important;
            padding-inline-end: 0px !important;
  }
  .services .box img {
    height: 100px !important;
  }
  .services .box h2 {
    font-size: 15px !important;
  }
  .statistcs {
    background-position: center !important;
  }
  .statistcs .box p {
    font-size: 14px !important;
  }
  .statistcs .box h2 {
    margin: 15px 0px !important;
  }
  .contact-us {
    padding: 50px 0px;
  }
  .contact-us .image-content img {
    height: 250px !important;
  }
  .copyrights p {
    font-size: 13px !important;
  }
}/*# sourceMappingURL=style.css.map */